* { 
margin:0 auto; 
 

} 



/* @media (max-width: 720px){
	.block {
	width: 550px;
		display: block;
		
	}
} */


.header-cont {
    width: 100%;
    background: url(http://cs.pikabu.ru/images/header_bg13.gif) #f0f0f0 repeat-x bottom;
}
.header-cont > div {
    max-width: 1260px;
    text-align: center;
    margin: 0 auto;
}
div {
    display: block;
}

table#header_t {
    width: 100%;
    height: 71px;
    background: url(http://s.pikabu.ru/images/header_bg.gif) #f0f0f0 repeat-x bottom;
    text-align: center;
    padding: 0;
    margin: 0;
}

.header-cont > div > table.header-table {
    background: none !important;
    border-spacing: 0;
}


.header-nav{
	
	background-image: url(images/panel.png);
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td.header-logo {
    width: 20%;
    vertical-align: top;
    padding-top: 2px;
    text-align: left;
    overflow: hidden;
}


td.header-logo > a {
    text-underline: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.b-logo {
    margin-top: 5px;
    margin-left: 44px;
    position: relative;
    background-position: -180px -252px;
}
.b-logo, .b-logo:after {
    background-image: url(http://cs.pikabu.ru/app/1.1.269/images/i-sprite.png);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 155px;
    height: 52px;
}


td.header-nav > table {
    width: 100%;
    height: 72px;
}
colgroup {
    display: table-column-group;
}
col {
    display: table-column;
}
td.header-nav-top {
    width: 100%;
    height: 20px;
    padding-top: 5px;
    vertical-align: top;
}
td.header-nav-bottom {
    vertical-align: bottom;
    height: 32px;
}
td.header-nav-right {
    vertical-align: bottom;
    height: 22px;
    text-align: right;
    padding-right: 0;
    padding-bottom: 4px;
}
table#header_t .menu {
    float: left;
}

}
table#header_t .menu li a {
    font: 13px Tahoma, Arial, sans-serif;
    text-decoration: none;
    color: #7A7A7A;
    background: white;
    width: 84px;
    height: 19px;
    padding: 1px 0 0 0;
    margin-left: 0px;
    border-radius: 1px 1px 0px 0;
    border-top: 1px solid transparent;
    transition: all 0.2s;
}
.active a {
    font-weight: bold;
    color: #5190B8;
    text-decoration: none;
    text-shadow: 0 1px 0 grey;
    margin: 0 2px;
}
table#header_t ul li a {
    font: normal 11px Arial;
    color: #868686;
    padding: 0 5px;
    display: block;
}
td.header-nav-bottom > ul.menu > li.menu-item-default > a {
    position: absolute;
    z-index: 2;
}

table#header_t .active, table#header_t .active a {
    font-weight: bold;
    color: #5190B8;
    text-decoration: none;
    text-shadow: 0 1px 0 grey;
    margin: 0 2px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


td.header-nav-bottom > ul.menu > li.menu-item-default {
    position: relative;
    width: 86px;
}






table#header_t td {
	padding: 0;
	margin: 0;
	text-align: center;
}

table#header_t .category_ht, table#header_t .viewmode_ht {
	float: left;
	color: #7A7A7A;
	font: 11px Tahoma, Arial, sans-serif;
	line-height: 20px;
	padding-right: 10px;
	vertical-align: bottom;
}

table#header_t .viewmode_ht {
	position: relative;
	bottom: 2px;
}

table#header_t ul {
	margin: 0;
	padding: 0
}

table#header_t ul li {
	float: left;
	list-style: none;
	height: 28px;
}

table#header_t ul li a {
	font: normal 11px Arial;
	color: #868686;
	padding: 0 5px;
	display: block;
}

table#header_t li a:hover {
	text-decoration: none;
}

.header_links ul {
	margin: 0;
	padding: 0
}

.header_links ul li {
	float: left;
	list-style: none
}

.header_links ul li a {
	font: normal 11px Arial;
	color: #868686;
	padding: 0 5px;
	display: block;
}

.header_links li a:hover {
	text-decoration: none;
}

.header_links a:hover {
	text-decoration: none;
}



table#header_t .menu {
	float: left;
}

table#header_t .menu li a {
	font: 13px Tahoma, Arial, sans-serif;
	text-decoration: none;
	color: #7A7A7A;
	background: white;
	width: 84px;
	height: 19px;
	padding: 1px 0 0 0;
	margin-left: 0px;
	border-radius: 1px 1px 0px 0;
	border-top: 1px solid transparent;
	transition: all 0.2s;
}

table#header_t .menu li a:hover {
	background-color: #ececec;
	transition: all 0.2s;
}

table#header_t .noactive {
	margin-left: 2px;
}

table#header_t .menu .active a, table#header_t .menu .active a:hover {
	color: #ffffff;
	background: -webkit-linear-gradient(top, #7acf74 0, #61c15b 100%);
	background: -o-linear-gradient(top, #7acf74 0, #61c15b 100%) transparent;
	background: -moz-linear-gradient(top, #7acf74 0, #61c15b 100%) repeat scroll 0 0 transparent;
	width: 84px;
	background-color: #61c15b;
	border: 1px solid #62be5c;
	border-radius: 2px;
	height: 20px;
}

table#header_t .menu .active2 a, table#header_t .menu .active2 a:hover {
	color: #ffffff;
	text-shadow: 0 1px 0 grey;
	background-color: #61c15b;
	background: -webkit-linear-gradient(top, #7acf74 0, #61c15b 100%);
	background: -o-linear-gradient(top, #7acf74 0, #61c15b 100%) transparent;
	background: -moz-linear-gradient(top, #7acf74 0, #61c15b 100%) repeat scroll 0 0 transparent;
	border: 1px solid #62be5c;
	border-radius: 2px;
	padding: 1px 4px 0 4px;
	margin-right: 2px;
}

table#header_t .menu .active3 a, table#header_t .menu .active3 a:hover {
	color: #ffffff;
	text-shadow: 0 1px 0 grey;
	background-color: #61c15b;
	background: -webkit-linear-gradient(top, #7acf74 0, #61c15b 100%);
	background: -o-linear-gradient(top, #7acf74 0, #61c15b 100%) transparent;
	background: -moz-linear-gradient(top, #7acf74 0, #61c15b 100%) repeat scroll 0 0 transparent;
	border: 1px solid #62be5c;
	border-radius: 2px;
	padding: 1px 4px 0 4px;
	margin-right: 2px;
	width: 128px;
}

table#header_t .menu .active4 a, table#header_t .menu .active4 a:hover {
	color: #ffffff;
	text-shadow: 0 1px 0 grey;
	background-color: #61c15b;
	background: -webkit-linear-gradient(top, #7acf74 0, #61c15b 100%);
	background: -o-linear-gradient(top, #7acf74 0, #61c15b 100%) transparent;
	background: -moz-linear-gradient(top, #7acf74 0, #61c15b 100%) repeat scroll 0 0 transparent;
	border: 1px solid #62be5c;
	border-radius: 2px;
	padding: 1px 4px 0 4px;
	margin-right: 2px;
	width: 160px;
}

table#header_t .menu .active5 a, table#header_t .menu .active5 a:hover {
	color: #ffffff;
	text-shadow: 0 1px 0 grey;
	background-color: #61c15b;
	background: -webkit-linear-gradient(top, #7acf74 0, #61c15b 100%);
	background: -o-linear-gradient(top, #7acf74 0, #61c15b 100%) transparent;
	background: -moz-linear-gradient(top, #7acf74 0, #61c15b 100%) repeat scroll 0 0 transparent;
	border: 1px solid #62be5c;
	border-radius: 2px;
	padding: 1px 4px 0 4px;
	width: 116px;
	margin-right: 2px;
}


	 


.main{
	display: block;
	background: white;
}

.centerbox { 
float: left;

display: block; 
width:1000px; 
margin: 0 auto;
background-color: white;
	margin-left:239px;
	margin-right:40px;
} 
 .b-feed-panel {

    color: #8f8f91;
    font: 13px Tahoma,Helvetica,Arial,sans-serif;
    margin: 16px 127.3px 0 93px;
    padding: 12px 8px 12px 14px;
    background-color: #f0f1eb;
}
 .b-feed-panel a { 
	border-bottom: 1px dotted #8f8f91;
    cursor: pointer;
	    color: #434447;
     text-decoration: none;
 }
.b-feed-panel a:hover{
	color: #217cb6;
}
.b-feed-panel__toolbar {
 
    width: 100%;
}
.feed-panel-right{
	text-align: right;
	display: inline-block;
	width: 50%;
}
.feed-panel-left{
	display: inline-block;
	width: 49%;
	text-align:left;
}

.block {
	
font-family: Tahoma,Helvetica,Arial,sans-serif;
background-color: #FFFFFF;	
text-decoration: none;	
display: inline-block; 
width:600px; 
margin-bottom:25px;
margin-left:94px;
margin-top: 40px;
height: auto;
overflow: hidden;


}



.post_additional{

    line-height: 18px;
    font-size: 12px;
    color: #777;

	
	}
.post_header{	
cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    z-index: 6;
	cursor: pointer;
	}
.hypertext {
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 20px;
    line-height: 23px;
    color: #217cb6;
    text-decoration: none;
    vertical-align: middle;
	margin-bottom: 3px
 
}
.hypertext:hover {
	text-decoration: none;
	color: #217cb6;
}
.hp_showed{
	color:#777;
}
.hp_showed:hover{
	text-decoration: none;
	color:#777;
}

p {
	padding: 8px 16px;
} 

.block a{
	
    text-decoration: none;
	
	}

	img{
		z-index:2;
	width:598px;
	height:auto;
	display: absolute;
}


.dat{
	float: right;
	border: 3px;
	padding-top:10px;
	padding-bottom:100px;
}
 

.content
	{
display:block; 
float: left; 
overflow: hidden;
word-wrap: break-word;


    border: 1px solid #d0dde5;
    background-color: #fbfbfb;
    border-radius: 3px;
    color: #2e2e2e;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    /* text-align: left; */
    width: 600px;
    box-sizing: border-box;
   



}

.more-link{
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	transition: background-color 200ms;
    padding: 10px 10px;
    color: #949596!important;
    text-decoration: none!important;
    display: block;
    line-height: 32px;
    background: #f0f1eb;
    position: relative;
    top: -5px;
    margin-bottom: -5px;
	border-bottom: 5px dotted #949596;
}
.more-link:hover{
    background-color: #e9eae1;
}



body.single {
	
}
